
<div class="footer">
  <ul>
           <a href="{{ site.twitter }}" target="_blank"><button type="button" class="btn btn-outline-success">Twitter</button></a>
           <li><a href="{{ site.facebook }}" target="_blank"><button type="button" class="btn btn-outline-success">Facebook</button></a></li>
   
  <li><a class="active" href="{{ "/" | relative_url }}">Inicio</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>

  </ul>
</div>
<br>

 
