<div class="footer-main-div">
 

<div class="footer-menu-one">
  <ul>
    <li><a href="#">Home</a></li>
           <li><a href="{{ site.twitter }}">{{ site.twitter }}</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#">Products</a></li>
           <li><a href="#">Contact us</a></li>
  </ul>
</div>
 
 
 
</div>
 
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" href="{{ site.twitter }}">{{ site.twitter }}</button>
  <button type="button" class="btn btn-secondary" href="{{ site.twitter }}">{{ site.facebook }}</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>