<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
          h1, h2, h3, h4, h5, h6 {
              font-family: $helvetica;
                 color: #30669c;
                 font-weight: bold;

                 line-height: 1.7;
                  margin: 1em 0 15px;
                 padding: 0;

                 @include mobile {
                line-height: 1.4;
                                 }
                                }
      </div>
    </div>

    {%- include footer.html -%}
    {%- include disqus.html -%}


  </body>

</html>
